# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Where is My Soul.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Where is My Soul\.idea\.idea.Where is My Soul\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
